<h1> Portfolios List</h1>

<div class="table">
<table>
  <tr>
    <th> Name </th>
    <th> Investor </th>
    <th> Current Net Value </th>
  </tr>
    <% portfolios = Portfolio.all %>
    <% Portfolio.all.each do |ports|%>
  <tr>
    <td><%= ports.name %></td>
    <td><%= ports.user_id %></td>
    <td> £10000 </td>
  </tr>
    <% end %>
    <% if portfolios.size == 0 %>
    <em> You Currently have no portfolios </em>
    <% end %>
</table>
</div>



