 html {
  /*background-image: url('trader.jpeg');*/
  /*background-color: rgba(97,45,10,1.0);*/
  background-color: lightblue;
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
 
  }

body {
  font-family: 'Open Sans', sans-serif;
  width: 960px;
  background-color: white;
  border-left: solid black 1em;
  border-right: solid black 1em;
  /*opacity: 0.7;*/
  margin: 0 auto;
  color: rgb(220,117, 25);
  min-height: 500px;
}

h1, h2 {
  font-weight: 200;
}

h1 {
  color: rgb(45,67,136);
}

h2 {
  color: rgb(51,137,255); ;
}

#leftheader {
  display: inline-block;
}

/*.commonh  {
  text-align: center;
  border: solid red 2px;
  display: inline-block;
}*/

a {
  text-decoration: none;
  color: rgba(220,117, 25,1.0);
}

a:hover { 
  background-color: orange;
  color: white;
}